* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  
  button {
    margin-top: 10px;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: black;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #1BA94C ;
    cursor: pointer;
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      #ad1c1c 20%,
      #FB7C7C 69%,
      #f0a0a0 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  }
  
  .login .loginContainer label {
    color: black;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: black;
  }
  
  .login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: #53CAE0;
  }
  
  .login .loginContainer select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    letter-spacing: 1px;
    padding-right: 100px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(255, 255, 255, 0.1);
    -webkit-appearance: none;
    background-position-x: 96.5%;
  }

  .login .loginContainer option{
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    letter-spacing: 1px;
  }

  ::-webkit-datetime-edit-text { color: black; padding: 0 0.3em; }
  ::-webkit-calendar-picker-indicator { cursor: pointer; }

  .login .loginContainer .errorMsg {
    color: white;
    font-size: 16px;
  }
  
  .dashboard {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
      ellipse at left bottom,
      #ad1c1c 0%,
      #FB7C7C 59%,
      #f0a0a0 100%
    );
  }
  
  .dashboard nav {
    background: #28df99;  
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashboard nav h2 {
    color: #fff;
  }
  
  .dashboard nav button {
    width: 86px;
    padding: 8px 0px;
    background: #FB7C7C;
  }
  
  .dashboard .info p{
    padding-left: 20px;
    padding-top: 20px;
    color: black;
    font-size: 20px;
  }

  .dashboard .info{
    width: 100%;
    max-width: 600px;
    min-height: 250px;
    margin: auto;
    margin-top: 10%;
    display: flex;
  }

  .dashboard .info .material-icons {
    font-size: 220px;
  }